@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Montserrat:wght@800;900&display=swap');

:root{
    --primary: #696969;
    --bg: #282828;
    --hover: #3d3d3d;
    --heading: #cacaca;
    --secondary: #ffae00;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #282828;
    color: #696969;
    font-family: 'Montserrat', sans-serif;
} 

/* Declaring for the menu background */

.menu-bg{
    width:0;
    height:0;
    background: var(--secondary);
    color: #000000 !important;
    transition: 0.3s ease-out;
    z-index: 1;
}

.navBar{
    z-index: 2;
}

.navBar, .menu-bg{
    top: 0;
    left: 0;
    position: absolute;
}

#menu{
    background: #08080867;
    width:60px;
    height:60px;
    border-radius: 50%;
    margin: 2rem 0 1.2rem 1.2rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.bar{
    height:4px;
    width:50%;
    background: var(--primary);
    display: block;
    border-radius:5px;
    transition: 0.3s ease-out;
}

#bar-1{
    transform: translateY(-7px);
}
#bar-3{
    transform: translateY(7px);
}


/* styling for the Links */
 .nav-items{
    margin: 0 2.5rem;
    padding: 0;
    transition: 0.4s ease;
    display: none;
}

.nav-items li a{
    color: var(--bg);
    text-decoration: none;
    
}

.nav-items li a:hover{
    color:var(--bg);
    font-weight: 900;
    text-decoration: underline;
    /* transition: 0.3s ease-out ; */
}

.nav-items li{
    list-style: none;
    padding: 1.5rem 0;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif !important;
}





/* Declaring the change Styling */

.change-bg{
    width:600px;
    height:600px;
    border-radius: 50%;
    transform:translate(-50%, -2%);
    box-shadow: 0px 11px 10px 4px#1d1d1d;
    
}

.change #bar-1{
    transform: translateY(4px) rotateZ(-45deg);
} 

.change #bar-3{
   transform: translateY(-6px) rotate(45deg);
}

.change #bar-2{
   opacity: 0;
}

.change{
    display: block;
    
}

/* Container Stylingg */

.container{
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
}

.header{
    margin: auto;
}