@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Montserrat:wght@800;900&display=swap');

:root{
    --primary: #696969;
    --bg: #282828;
    --hover: #3d3d3d;
    --heading: #cacaca;
    --secondary: #ffae00;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color:var(--primary);
}

ul{
    padding:0;
}

ul li{
    list-style: none;
}
body{
    background: #282828;
    color: #696969;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
    height:100%;
} 

/* Declaring for the menu background */

.menu-bg{
    width:0;
    height:0;
    background: var(--secondary);
    color: #000000 !important;
    transition: 0.3s ease-out;
    z-index: 1;
}


.navBar{
    z-index: 2;
    
}

.navBar, .menu-bg{
    top: 0;
    left: 0;
    position: absolute;
}

#menu{
    background: #08080867;
    width:60px;
    height:60px;
    border-radius: 50%;
    margin: 2rem 0 1.2rem 1.2rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.bar{
    height:3px;
    width:50%;
    background: var(--primary);
    display: block;
    border-radius:5px;
    transition: 0.3s ease-out;
}

#bar-1{
    transform: translateY(-7px);
}
#bar-3{
    transform: translateY(7px);
}


/* styling for the Links */
 .nav-items{
    margin: 0 2.5rem;
    padding: 0;
    transition: 0.4s ease;
    display: none;
}

.nav-items li a{
    color: var(--bg);
    text-decoration: none;
    
}

.nav-items li a:hover{
    color:var(--bg);
    font-weight: 900;
    text-decoration: underline;
    /* transition: 0.3s ease-out ; */
}

.nav-items li{
    list-style: none;
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif !important;
}

/* author img */
.img-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1rem 0;
   
    
}

.img-wrapper img{
    width: 200px;
    border-radius: 50%;
    box-shadow:  0px 9px 6px 4px#1d1d1d;
}



/* Declaring the change Styling */

.change-bg{
    width:600px;
    height:600px;
    border-radius: 50%;
    transform:translate(-50%, -2%);
    box-shadow: 0px 11px 10px 4px#1d1d1d;
    
}

.change #bar-1{
    transform: translateY(4px) rotateZ(-45deg);
} 

.change #bar-3{
   transform: translateY(-6px) rotate(45deg);
}

.change #bar-2{
   opacity: 0;
}

.change{
    display: block;
    
}

/* Container Stylingg */

.container{
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
}

.header{
    margin: auto;
}

.header h1, h2{
    text-align: center;
}



/* Social MEdia StickY */
.follow-me{
    margin: 0 2rem;
}
.follow-me ul a{
    text-decoration: none;
    color:var(--primary);
    font-size: 30px;
    
}

.follow-me ul li {
    list-style-type: none;
    margin: 1em 0;
}

.fa-twitter:hover{
    color: #1da1f2;
    transform: translateY(4px) rotateZ(-45deg);
}

.fa-instagram:hover{
    color:#c32aa3;
    transform: translateY(4px) rotateZ(-45deg);
}

.fa-github:hover{
    color: #cf8f03;
    transform: translateY(4px) rotateZ(-45deg);
}

.fa-facebook:hover{
    color:#3b5998;
    transform: translateY(4px) rotateZ(-45deg);
}

.fa-linkedin:hover{
    color: #007bb5;
    transform: translateY(4px) rotateZ(-45deg);
}

.fa-whatsapp:hover{
    color:#25d366;
    transform: translateY(4px) rotateZ(-45deg);
}

/* 
.name-overlay{
    font-size: 600px;
    z-index: -2;
    position: absolute;
    color:#08080867;
    opacity:0.2;
    bottom: -130px;
    left: -90px;
    
} */

.txt-type > .txt{
    border-right:0.2rem solid #777777;
}

/* About Us Section Styling */
.section-wrapper{
    width: 90%;
    /* height: 500px; */
    margin: auto;
    display: grid;
    box-sizing: border-box;
    /* padding:0rem 1rem; */
    background: var(--bg);
    grid-template-columns: 1fr 2fr;
    box-shadow:0px 11px 10px 4px#1d1d1d;
}
.about-img-wrapper{
    box-sizing: border-box;
    background: url("img/favi.JPG") no-repeat;
    background-size: cover;
    height:500px;
}
.about-img-wrapper img{
    
    width:100%;
}

.content-wrapper{
    padding: 2rem 1rem;
    height:500px;
    
}

.skills-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    text-align: center;
    margin-top: 1.5rem;
}

.skills-section, .skill-container{
    font-size:1rem;
}



/* End of About Me Style */

/* Begining of Resume style */
.resume-wrapper{
    width: 400px;
    border-radius: 50px;
    height: 550px;
    box-shadow:0px 11px 10px 4px#1d1d1d;
   
}

.resume-img{
    background: url("img/fav-1.jpg") no-repeat;
    background-size: cover;
    width:100%;
    height:500px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

button{
    outline: none;
    border: none;
}
.resume-btn{
    display: block;
    width: 100%;
    height:50px;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    background: var(--secondary);
    font-size: 1.1rem;
    font-weight:bold;
    text-align: center;
    line-height:50px;
    color:var(--bg)
    
}

/* Contact page styling */

.contact-wrapper{
    width:70%;
    margin:auto;
}

.contact-header > h1, .follow-links > h2{
    text-align: left;
    padding: 1rem 0;
}
.contact-header{
    margin-bottom: 4rem;
    text-align:left;
}

.input-block input, textarea{
    outline: none;
    border-bottom: 1px solid grey;
    border-top: none;
    border-left: none;
    border-right: none;
    background: transparent;
    width: 90% !important;
    color:var(--primary);
    resize: none;
    font-size:18px;
    font-family: 'Montserrat';
    overflow: hidden;
    overflow-y: hidden;
    padding:10px 33px 10px 10px;
    
}

.label .icon{
    position:relative;
    bottom:0;
    right:0;
}


.follow-btns i:hover{
    transition:none;
}




/* MEdia and Screens */


@media(max-width:1024px){
   

    #menu{
        
        width:50px;
        height:50px;  
    }

    .change-bg{
        width:500px;
        height:500px;
        
        
    }

    .nav-items li a:hover{   
        font-weight: 700;
    }
    
    .nav-items li{
        /* list-style: none; */
        padding: 1.5rem ;
        font-size: 1.5rem;
    }a
    .follow-me ul li {
        
        margin: 1rem 2rem;
        
    }

    .follow-me ul a{
        font-size: 25px;
        
    }

    .name-overlay{
        font-size: 400px;
       bottom: -80px;
       left: -10px;
        
    }

    /* about Styling */
    .section-wrapper{
       grid-template-columns: 1fr 1.2fr;
       

    }

    .about-img-wrapper{
        background-position: left;
    }

    .content-wrapper  p{
        font-size:1rem;
    }


   
    

}

@media(max-width:768px){
    .container{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .navBar{
        /* display: flex;
        flex-direction: row; */
    }

    #menu{
        
        width:40px;
        height:40px;  
    }

    .nav-items{
        margin: 0 1.5em;
        
    }
    
    .nav-items li{
        /* list-style: none; */
        padding: 1.2rem ;
        font-size: 1.2rem;
    }

    .bar{
        height:2px;
       
    }


    .change-bg{
        width:500px;
        height:500px;
        
        
    }

    .follow-me{
        display:sticky;
        bottom: 0;
    }

    .follow-me ul li {
        list-style-type: none;
        margin: 1em 0.5em;
        display: inline-block;
    }

    .name-overlay{
        font-size: 300px;
       bottom: -80px;
       left: -10px;
        
    }

    .img-wrapper img{
        width: 150px;
        
    }

    /* about Styling */
    .section-wrapper{
        /* margin-top: 200px; */
        display:block;
        margin-top: 600px;
        margin-bottom: 50px;
        /* flex-direction: column; */
        width:80%;
        /* justify-content: center; */
        /* align-items: center; */
        /* height:800px; */
        
 
     }
 
     .about-img-wrapper{
         background-position: left center;
         padding:100px 0px;
         height:400px;
     }

     .content-wrapper{
         /* padding:2rem 1rem; */
         height: 550px;
     }

     .skills-section{
        /* display: grid; */
        grid-template-columns: repeat(2, 1fr);
        /* gap: 2rem;
        text-align: center;
        margin-top: 1.5rem; */
    }

    .skills-section, .skill-container{
        font-size:0.8rem;
    }
 

 
     
     .resume-wrapper{
        width: 350px;
        border-radius: 50px;
        height: 450px;
        
       
    }
    
    .resume-img{
        
        height:400px;
        
    }
}

   

@media(max-width:480px){
    .container{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .change-bg{
        width: 500px;
        height: 500px;
        transform:translate(-50%, -10%);
    }

    .header h1{
        font-size:25px;
        text-align: center;
    }

    .nav-items{
        margin: 0 1.5em;
        
    }   
    .nav-items li{
        /* list-style: none; */
        padding: 1.2rem ;
        font-size: 1.2rem;
    }
    .follow-me ul li {
        list-style-type: none;
        margin: 1em 0.3em;
        display: inline-block;
    }

    .follow-me ul a{
        
        font-size: px;
        
    }

    .name-overlay{
        font-size: 200px;
       bottom: -50px;
       left: -10px;
        
    }

    /* About Styling */
    .about-img-wrapper{
        background-position: center center;
        padding:100px 0px;
        height:250px;
    }

    .section-wrapper{
        margin-top: 400px;
        width:90%;
     }

     .content-wrapper{
        /* padding:2rem 1rem; */
        height:700px;
        line-height:1.5rem

    }

    .resume-wrapper{
        width: 300px;
        border-radius: 50px;
        height: 400px;
        
       
    }
    
    .resume-img{
        
        height:350px;
        
    }

   
}